@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    font: 16px '맑은 고딕';
    color: #3f51b5;
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: #3f51b5;
}

h1 {
    font-size: 30px;
    font-weight: normal;
}

h2 {
    font-size: 40px;
    font-weight: normal;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

p {
    font-size: 14px;
    color: #000;
}

header,
nav,
main,
article,
aside,
section,
footer {
    display: block;
}