@charset "utf-8";

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

header nav {
    /* display: none; */

}

/* gnb */
.gnb {
    display: flex;
    flex-direction: row;
}
